#jungle{
  width: 1280px;
  height: 720px;
  background: url('img/jungle.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -640px;
  margin-top: -360px;
  z-index: 1;
}

.door{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background: url('img/door.png');
  position: absolute;
  z-index: 3;
}

.monkey{
  background: url('img/monkey.png')no-repeat;
  position: absolute;
  width: 161px;
  height: 235px;
  bottom:0;
  right: 50%;
  background-repeat: round;
  z-index: 2;

  /* ANIMATION 1 */

  -moz-animation-duration: 9s;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;

  -moz-animation-name: monkey;
  -webkit-animation-name: monkey;
  animation-name: monkey;
  
  -moz-animation-iteration-count: 9;
  -webkit-animation-iteration-count: 9;
  animation-iteration-count: 9;

}

@-webkit-keyframes monkey {
  0%{
      z-index: 4;
      margin-bottom: 0%;
      left : 40%;
      transform: scale(1, 1);
    } 

  20%{
      z-index: 2;
      margin-bottom: 180px;
      left: 52%;
      transform: scale(0.5, 0.5);
    } 

  40%{
      margin-bottom: 225px;
      left: 46%;
      transform: scale(0.4, 0.4);
    }
  60%{
      margin-bottom: 250px;
      left: 35%;
      transform: scale(0.3, 0.3);
    }
  80%{
      margin-bottom: 320px;
      left: 30%;
      transform: scale(0.2, 0.2);
      opacity: 1;
    } 
  100%{
      margin-bottom: 370px;
      left: 30%;
      transform: scale(0.1, 0.1);
      opacity: 0;
    } 
}


/*@-webkit-keyframes monkey_ {
  from {
    right : 40%;
    transform: scale(1, 1);
  }

  to {
    margin-bottom: 180px;
    right: 80%;
    transform: scale(0.5, 0.5);
  }
}*/

.keycode{

  background: url('img/monkey.png')no-repeat;
  position: absolute;
  width: 161px;
  height: 235px;
  bottom:0;
  right: 50%;
  background-repeat: round;
  z-index: 2;
}

@-webkit-keyframes keycode {

  0%{
      bottom: 0;
    } 

  50%{
      bottom: 20%;
  }

  100%{
      bottom: 0;
  }

}





























